<!-- blog/templates/blog/index.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>메인 페이지</title>
  <style>
    .buttons {
      margin-top: 20px;
    }
    .buttons a {
      margin: 5px;
    }
  </style>
</head>
<body>
  <h1>2023873018 유진기</h1>

  <!-- 이미지 삽입 -->
  <img src="{% static 'blog/logo1.png' %}" alt="로고 이미지" width="200">


  <div class="buttons">
    <a href="{% url 'page1' %}"><button>자기 소개</button></a>
    <a href="{% url 'page2' %}"><button>관심 분야</button></a>
    <a href="{% url 'page3' %}"><button>개발 실적</button></a>
    <a href="{% url 'page4' %}"><button>추천 사항</button></a>
  </div>
</body>
</html>
