{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>development</title>
  <style>
    .center-container {
      text-align: center;
      margin-top: 30px;
    }
    p {
      line-height: 1.6;
    }
  </style>
</head>
<body>

  <div class="center-container">
    <h1>앞으로의 계획</h1>

    <p>
      <strong>1. 학업</strong><br>
      고등학교를 졸업하고 직장 생활한지 11년차에 접어들었습니다. <br>
      직장생활 초기에는 대학의 필요성을 느끼지 못했습니다. <br>
      직장생활 중기기에는 개발을 하면서 부족하다는 것을 느껴, 대학에 필요성을 느끼게 되었습니다. <br>
      그렇게 늦은 나이에 배우고 싶은 학과에 야간대학을 찾아 전문대학에 입학 후 전보다 더 넓은 시야 및 개발 능력을 갖추게 되었습니다. <br>
      현재는 학업에 욕심이 더 생겨 전문학사를 졸업 후 사이버대학에 편입하게되었습니다. <br>
      사이버대학에 졸업 후에는 대학원에 입학하여 더 많은 지식을 탐구하고 새로운 연구에 참여하고 싶습니다.
    </p>

    <p>
      <strong>2. 목표</strong><br>
      1. 박사 학위 <br>
      2. 전자기능장 <br>
      3. 전자기술사 <br>
      4. 수석연구원
    </p>

    <a href="{% url 'index' %}">← 메인으로 돌아가기</a>
  </div>

</body>
</html>
